@font-face {
    font-family: 'Vollkorn';
    src: url('./variable/Vollkorn-VariableFont_wght.ttf') format('woff2');
    font-style: normal;
    font-weight: 400 900;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('./variable/Vollkorn-Italic-VariableFont_wght.ttf') format('woff2');
    font-style: italic;
    font-weight: 400 900;
}